body {
    
    border: none;
    margin:0;
    background-color: rgb(226,226,220);
    font-size: 1.3rem;
    font-family:'Times New Roman', 'Times, serif', cursive;
    height: 100%;
    
}






.back-image {
    
    min-width: 300px;
    max-width:100em;
    max-height:50vh;
    background-position: 100%;
    background-size:cover ;
    background-repeat: no-repeat;
    border-color:whitesmoke;
    border-radius: 10px;
    border-style: inset;
    
}

header .back-image h1 {

    padding-top: 5em;
    padding-bottom: 0.9em;

    
}



.text-center {
    text-align: center;
    
}

.text-trans {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}


.bigphont {

    font-size: 2rem;
    font-family:'Arial Narrow Bold', 'Impact' sans-serif;

    
    
}

.mediumphont {

    font-size: 20px;
}



#nav-span {
    text-align: right;
    text-decoration: none;
    display:contents;
    list-style-type: none;
    padding:1.1rem
}





article {
    border:30px;
    border-style: dotted;
    border-color: red;
}

figure img {
    border-style: ridge;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    padding:10rem;
}




#map {
    border: none;
    width: 100%;
    height: 100%;
}




#prime-images img {
    padding: 40px 0;
    margin: 0% 5% 0% 5%;
    border: 20px #28333b;
    border-radius: 01.3rem;
}




div video {
    padding: 50px 0;
    margin: auto;
    border: 20px #28333b;
    border-radius: 01.3rem;
    height: 50%;
}







.text-right {
    text-align: right;
}






section form {
    width:50%;
    height:auto;
    font-size: 0.8em;
    margin-left: 30%;
    margin-right: 50%;
    
}

textarea {
    width:50%;
    padding-right: 10rem;
}

section form input[type=text],
input[type=email] {
    width: 100%;
    padding: 0.55em 0 0.55em 0;
    border-width: 2.0px;
    border-style: solid;
    border-color: #28333b;
}


/* no changes to this */

section form input[type=submit] {
    color: #28333b;
    background-color: skyblue;
    border-color:#28333b ;
    padding:1rem 5rem 1rem 5rem;
    width:25%;
    
    
}

form input[type=submit]:hover {
    color:black;
    background-color: orange;
}


 #paypal-button {
    background-color: skyblue;
    border-color: #28333b;
    border-width: 0.20rem;
    border-style: solid;
    padding:0.80rem 0.80rem 0.50rem 0.80rem;
    color: #28333b;
    text-decoration: none;
    
    
    
}

#paypal-button:hover {
    background-color: orange;
    
}




.news-letter {
    color:white;
    font-weight: bolder;
    border-color:white

}





footer {
    background-color:#28333b;
    width: 100%;
    display: block;
    padding: 0.50em;

}




footer a:hover {
    color: orange;

}


footer a, #rights {
    color: white;
    padding-bottom: 1em;
    padding-left: 1.5em;
}



span form {
    margin-left: 80%;
    padding: auto;

}


span input {
    padding: 0.60rem ;
    margin-right: 60%;
    margin-left: 0.80rem;
    
}


span input[type=submit] {
    padding:0.60em 4em 0.60em 4em;
    margin-right: 60%;
    min-width:2%;
}




.v-h {
    min-height: 5em;
    margin: 0;
    padding-bottom: 40px;

}



hr {
    width: auto;

}



.text-white {
    color:white;
}


